<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> atoms-landscape-16x9 }}
		<div class="g1 g-3up">
			<div class="gi">
				{{> organisms-upcoming }}
			</div>
			<div class="gi">
				{{> atoms-portrait }}
			</div>
			<div class="gi">
				{{> organisms-why-join }}
			</div>
		</div><!--end 3up-->

		<hr />
		
	</div><!--End role=main-->
	{{> organisms-hollywood-footer }}
</div>