*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::before, .clearfix::after {
  display: table;
  content: '';
}

.clearfix::after {
  clear: both;
}

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  background: $c-divider;
  color: darken($c-divider, 55%);
  font-weight: 400;
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $top-font;
  color: $c-font;
  font-weight: 700;
  margin: 0;
}

h1 {  
  font-size: $mod_1*$mod_1*$mod_1*$mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2*$mod_2*$mod_2 *$min_font);
}
h2 {  
  font-size: $mod_1*$mod_1*$mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2*$mod_2 *$min_font);
}
h3 { 
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}

h4 {
  font-size: $mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}

h5 {
  font-size: $mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}

h6 {
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2 *$min_font);
}

p, ul, ol, li, form, input, textarea, button {
  font-size: 0.8*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2 *$min_font);
  line-height: 1.4em;
}

.row {
	width: 90%;
}

/* Header */
.logo {
	margin: 0;
  margin-left: 10px;
  padding: 0;
  
  img {
    width: 200px;
  }
}

.social-header {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: darken($c-main, 3%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

  .social-header-icons {
    li:last-of-type {
      margin-right: 10px;
    }

    .fa {
      font-size: 1.3rem;
      color: $white;

      &:hover {
        color: darken($dark-gray, 25%);
        transition: color 0.3s ease-in;
      }
    }
  }
}

/* Dopdown & Mobile Contact Form */
#contactModal {
  background: lighten($c-accent, 18%);
  border: 0;
  
  .contact {
    padding-top: 2rem;
  }
  
  .close-button {
	  color: darken($c-accent, 1%);
    
    &:link {
      color: darken($c-accent, 1%);
    }
    
    &:visited {
      color: darken($c-accent, 1%);
    }
    
    &:hover {
      transition: color 0.6s ease;
      color: darken($c-font, 2%);
      text-shadow: 0px 5px 2px rgba(186, 135, 108, 0.4);
    }
    
    &:active {
      transition: color 0.6s ease;
      color: darken($c-font, 2%);
      text-shadow: 0px 5px 2px rgba(186, 135, 108, 0.4);
    }
  }
  
  input, textarea {
    border-radius: 10px;
    border: 3px solid $c-divider;
    background-color: lighten($c-divider, 35%);
    
    &:focus {
      transition: border 0.6s ease;
      border: 3px solid lighten($c-secondary, 15%);
      box-shadow: inset 0 0 10px $c-main;
    }
  }
  
	.button {
    background-color: lighten($c-accent, 5%);
    border-radius: 10px;
    border: 2px solid $c-accent;
    width: 100%;
    color: #fff;
    padding: 0.55em 0;
    
    &:hover {
      transition: border 1s ease, color 1s ease;
      background-color: $c-accent;
      border: 2px solid darken($c-accent, 5%);
      box-shadow: inset 0 0 10px $c-accent;
    }
  }
}

/* Project Tabs */
.tile {
  margin: 15px 0 0 0;
}
.link-braces {
  figure {
    display: table;
    margin: 0;
    position: relative;
    
    &:hover h4 {
      color: lighten($c-font, 5%);
    }
    
    &:hover h4:before, &hover h4:after {
      opacity: 1;
      transform: translateX(0);
    }

    img {
      display: block;
      position: relative;
      width: 100%;
      box-shadow:0 0 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }
    
    figcaption {
      display: table-caption;
      caption-side: bottom;
      padding: 10px;
      background: darken($c-main, 12%);
      color: lighten($c-secondary, 4%);
      max-width: 100%;

      h4 {
        position: relative;
        margin: 0;
        padding: 0 0.25em;
        font-size: $mod_1*$mod_1*$mod_1 *1rem;
        @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
        color: #fff;
        text-align: center;
        transition: color 0.2s;

        /*&:before, &:after {
          position: absolute;
          top: 0;
          line-height: 1;
          opacity: 0;
          tansition: opacity 0.2s, transform 0.2s;
        }
        
        &:before {
          left: -0.1em;
          content: '[';
          transform: translateX(-100%);
        }
        
        &:after {
          right: -0.1em;
          content: ']';
          transform: translateX(100%);
        }   */
      }
    }
  }
}
#web-design, #print-design {
  h2 {
    text-align: center;
  }
}
#twist {
  .twist-cover {
    display: block;
  }
  .row img {
    width: 50%;
  }
} 

#stellaris {

}

/* Project View */
#project-disc {
  padding-bottom: 15px;
  
  img {
    padding-top: 10px;
  }
  
  li {
    color: darken($c-divider, 45%);
  }
}

#project-tech {
	background-color: lighten($c-accent, 18%);
  padding-bottom: 20px;
  box-shadow: 0 0 15px rgba(188, 142, 117, 0.4);
  
  h2 {
    text-align: center;
    padding: 5px 0;
  }
  
  p {
    font-size: 1.05em;
  }
  
  .tech-list {
    text-align: center;
    margin-top: 5px;
  }
}

#project-img {
  padding-bottom: 20px;
  
  h2 {
    text-align: center;
    padding: 15px 0;
  }
  
  div img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.tabs-links {
	display: inline-block;
  .button {
    display: inline-grid;
    background-color: lighten($c-accent, 5%);
    border: 2px solid $c-accent;
    color: #fff;
    
    &:hover {
      transition: border 1s ease, color 1s ease;
      background-color: $c-accent;
      border: 2px solid darken($c-accent, 5%);
      box-shadow: inset 0 0 10px $c-accent;
    }
  }
}

/* footer */
footer {
  position: relative;
  background: darken($c-main, 3%);
  color: $c-accent;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: auto;
    
  .contact-box {
    input, textarea {
      border-radius: 10px;
      border: 3px solid $c-divider;
      background-color: lighten($c-divider, 35%);

      &:focus {
        transition: border 0.6s ease;
        border: 3px solid lighten($c-secondary, 15%);
        box-shadow: inset 0 0 10px $c-main;
      }
    }

    .button {
      background-color: lighten($c-accent, 5%);
      border-radius: 10px;
      border: 2px solid $c-accent;
      width: 100%;
      color: #fff;
      padding: 0.55em 0;
      
      &:link {
        background-color: lighten($c-accent, 5%);
        border: 2px solid $c-accent;
        width: 100%;
        color: #fff;
        padding: 0.55em 0;
      }
      
      &:visited {
        background-color: lighten($c-accent, 5%);
        border: 2px solid $c-accent;
        width: 100%;
        color: #fff;
        padding: 0.55em 0;
      }

      &:hover {
        transition: border 1s ease, color 1s ease;
        background-color: $c-accent;
        border: 2px solid darken($c-accent, 5%);
        box-shadow: inset 0 0 10px $c-accent;
      }
      
      &:active {
        transition: border 1s ease, color 1s ease;
        background-color: $c-accent;
        border: 2px solid darken($c-accent, 5%);
        box-shadow: inset 0 0 10px $c-accent;
      }
    }
  }

  .skill-info {
    .contact-footer {
      h4 {
        color: #fff;
      }
    }
  }
  
  .copyright {
	  padding-bottom: 10px;
  }
  
  .copyright-text {
    color: #fff;
  }
  
  .socialBot {
    display: inline-block;
    margin: 0;

    li {
      list-style: none;
      display: inline-block;
    }
  }
}
@media only screen and (max-width: 48.875em) {
  .social-header {
    justify-content: center;
  }
}

@media only screen and (min-width: 10em) and (max-width: 36.25em) {
  .logo {
    margin: 0 auto;
    
    img {
      width: 100px;
      margin-bottom: 20px;
    }
  }
  
  .tabs-panel {
    h2 {
      padding-top: 5px;
    }
  }
  
  .social {
    position: relative;
    min-width: 320px;
    margin: 0 auto;
    padding-bottom: 4px;
    margin-bottom: 4px;
    text-align: center;
  }
  
  .socialBot li {
	  padding-bottom: 5px;
    
  }
  
  .tile {
    margin-top: 12px;
    
  }
  
  .logos {
    .tile img {
      margin: 0 auto;
    }
  }
  
  .skill-info {
    h4 {
      font-size: 1.5em;
    }
  }
  
  #contact2 {
    display: none;
  }
  
  #project-img {
    .chngOrdr {
      order: -1;
    }
  }
}