<nav id="footer-nav" class="nav">
	<ul>
		<li><a href="{{ url }}">Programs</a></li>
		<li><a href="{{ url }}">Gallery</a></li>
		<li><a href="{{ url }}">Blog</a></li>
		<li><a href="{{ url }}">Contact</a></li>
	</ul>
</nav><!--end .nav-->
