<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #c13a47;"></span>
		<span class="sg-label">#c13a47</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #9E2934;"></span>
		<span class="sg-label">#9E2934</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #099c14;"></span>
		<span class="sg-label">#099c14</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">#333333</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4d4d4d;"></span>
		<span class="sg-label">#4d4d4d</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #969696;"></span>
		<span class="sg-label">#969696</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #dbdbdb;"></span>
		<span class="sg-label">#dbdbdb</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f2f2f2;"></span>
		<span class="sg-label">#f2f2f2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
</ul>