<section class="why-join">
	<h2 class="section-header">Why Join?</h2>
              <div class="panel">
                <p>Pudding tootsie roll sugar plum cake chupa chups cheesecake tiramisu pudding. Carrot cake sweet roll cookie danish dragee pie cookie souffle. Pie cheesecake macaroon cotton candy carrot cake dragee oat cake</p>

            <a href="#" class="button radius">JOIN NOW!</a>
</section>