<section class="section find-us">
    <div class="find-us--section find-us__panel">
        {{> molecules-map }}
    </div>
    <div class="find-us--section">
        {{> molecules-hollywood-location }}
    </div>
    <div class="find-us--section">
        {{> molecules-hollywood-hours }}
    </div>
</section>