.module-footer{
	background: transparent;
	color: $header-color;
}

.copyright{
	width: 50%;
	float: left !important;
	font-family: inherit;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 1.25rem;
}