/*------------------------------------*\
    $GRIDS
\*------------------------------------*/

/* Grid Container */
.g1{
	overflow: hidden;
	margin: 30px 0;
}	

.blog__content{
	padding: 0 70px 0 20px;
}

.article__content{
	.article__image{
		padding: 30px 0;
	}
}