.panel {
	font-family: $sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: $light-gray;
	margin: 30px 0;
	padding: 1.25rem;
	background-color: $lightest-grey;
}

.upcoming-class{
	width: 100%; 
	text-align: center;
}

.list-a-class hr{
	margin: 0;
}
.middle-panel{
	padding: 0 30px;
}

ul.post-list{
	padding-top: 20px;
	li{
		padding: 5px;
	}
}

.module__container{
	//border: 1px solid red;
	padding-top: 50px;
	position: relative;
	width: 100%;
}

//Personal Trainer Specific//

.trainer__content{
    padding: 80px 10px 0 10px;
}

.trainer__profile{
    margin-top: 20px;
    padding-top: 20px;
}

.sidebar__header{
    color: $primary-color;
}

.trainer__content{
    padding: 80px 10px 0 10px;
}