.wrapper {
    width: 75%;
    margin: 0 auto;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 0 5px;
}

section {
    clear: both;
}

.copyright {
    float: right;
    margin-right: 12.5%;
}