<!-- Begin .header -->
<header class="header cf header-hollywood" role="banner">
	{{> atoms-logo-hollywood }}
	{{> molecules-search-hollywood }}
	<a href="#nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
	{{> molecules-hollywood-nav }}
</header>
<!-- End .header -->