<div class="page" id="page">
	{{# emergency }}
		<div style="width: 100%; height: 30px; background-color: #ccc; padding: 20px; color: #fff; font-size: 3em;">
			Emergency!!!
		</div>
	{{/ emergency }}
	{{> organisms-header-hollywood }}
	<div role="main">
		
	{{# slider }}
		{{> molecules-hollywood-slider }}
	{{/ slider}}
		<br>
		<div class="g1 g-3up">
			<div class="gi">
				<section class="section latest-posts">
					<h2 class="section-title">Upcoming Classes:</h2>
					<ul class="post-list">
						<hr>
						{{# latest-posts}}
							{{> molecules-upcoming-class-block }}
						{{/ latest-posts}}
					</ul>
				</section>
			</div>
			<div class="gi">
				{{# home-center}}
					{{> molecules-block-middle-panel}}
				{{/ home-center}}
			</div>

			<div class="gi">
				{{> organisms-why-join }}
			</div><!--end l-sidebar-->
	</div><!--End role=main-->
	{{> organisms-hollywood-footer }}
</div>