<!-- Begin Footer -->
<footer class="module-footer" role="contentinfo">
	<hr>
	<div class="footer-nav">
	{{> molecules-footer-hollywood-nav }}
	</div>
	<div class="lc">
		<p class="copyright">&copy; 2013 Company Name. All rights reserved.</p>
	</div>
</footer>
<!-- End Footer -->