* {
    box-sizing: border-box;
}

$title-font: 'Lobster', cursive;
$heading-font: 'Verdana', sans-serif;
$body-font: 'Georgia', serif;
$light-grey: #d1d1d1;
$medium-grey: #a0a0a0;
$dark-grey: #484848;
$cyan: #1b90dd;

body {
    background: $medium-grey;
    font-family: $body-font;
}

.wrapper {
    background: #fff;
    width: 60%;
    margin: 20px auto;
    border: 1px solid $light-grey;
    border-radius: 20px 20px;
    -webkit-box-shadow: 1px 1px 20px 4px darken($light-grey, 12%);
	-moz-box-shadow: 1px 1px 20px 4px darken($light-grey, 12%);
	box-shadow: 1px 1px 20px 4px darken($light-grey, 12%);
    padding: 3%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
    
.navigation-item {
    display: inline-block;
    list-style: none;
    border: 1px solid $dark-grey;
    background-color: $dark-grey;
    padding: 6px 9px;
    
    &:first-child {
        border-top-left-radius: 5px 5px;
        border-bottom-left-radius: 5px 5px;
    }
    
    &:last-child {
        border-top-right-radius: 5px 5px;
        border-bottom-right-radius: 5px 5px;
    }
    
    &:hover {
        border-color: $cyan;
        background-color: darken($cyan, 2%);
    }
    
    a {
        font-family: $heading-font;
        color: #fff;
        text-decoration: none;
        font-size: 0.8em;
    }
}

.main-content {
    float: left;
    width: 75%;
    padding-top: 40px;
    
    article {
        margin-bottom: 40px;
    }
    
    p {
        margin-top: 15px;
        font-size: 1em;
        line-height: 1.2em;
    }
}

.title {
    font-family: $heading-font;
}

.title-link {
    text-decoration: none;
}

.title-page {
    font-family: $title-font;
    font-size: 4.5em;
    color: $light-grey;
    margin-bottom: 35px;
}

.title-heading {
    font-size: 1.75em;
    color: $cyan;
    margin-bottom: 3px;
}

.title-subheading {
    font-size: 1.3em;
    color: $cyan;
    margin-bottom: 3px;
}

.title-side {
    margin-bottom: 5px;
}

.post-info {
    font-size: 0.3em;
    color: $light-grey;
}

.main-quote {
    float: right;
    width: 190px;
    padding: 20px 35px 20px 25px;
    margin: 25px 0 15px 10px;
    background-color: $light-grey;
    color: $medium-grey;
    font-size: 1.1em;
}

.topic-pic {
    float: right;
    background-color: $light-grey;
    padding: 25px 15px;
    margin: 47px 0 10px 50px;
}

.sidebar {
    width: 25%;
    margin-top: 60px;
    padding-left: 60px;
    float: left;
    font-size: 0.9em;
    
    .sidebar-item {
        line-height: 1.3em;
        
        a {
            text-decoration: none;
            color: $cyan;
        }
    }
}

footer {
    float: left;
    font-size: 0.8em;
}