form ol, form ul {
	list-style: none;
	margin-left: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

label {
    font-size: 0.875rem;
    color: $label;
    display: block;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0 1px 0;
}

/* We use this to get basic styling on all basic form elements */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    -webkit-appearance: none;
    background-color: $white;
    font-family: inherit;
    border: 1px solid $input-border;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    height: 2.3125rem;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
    
    &:focus {
        -webkit-box-shadow: 0 0 5px $medium-gray;
        -moz-box-shadow: 0 0 5px $medium-gray;
        box-shadow: 0 0 5px $medium-gray;
        border-color: $medium-gray;
        background: $medium-gray;
        border-color: $medium-gray;
        outline: none;
    }
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.3em;
}

input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.button {
    width: auto;
}

.field-container {
    padding: 0 5px 2px 5px;
}

/* Validation */
.has-error {
	border-color: $hover-red;
}
.is-valid {
	border-color: $valid;
}
.search-field{
    max-height: 20px;
}
.inline-form .search-submit{
    padding: 2px;
    text-align: left;
    width: 50px;
    background-color: $primary-color;
    color: $white;
    &:hover{
        background-color: $hover-red;
    }
}
button .search-submit{
    max-height: 25px;
}