.logo{
	max-width: 12rem;
	padding-top: 10px;
}

.media__type-container{
	margin: 20px 0 40px 0;
}
.media__type{
	font-size: 1em;
	border: 1px solid $light-gray;
	border-radius: 3px;
	width: 65px;
	padding: 5px 10px;
	margin-right: 10px;

	&:hover, &:active{
		background-color: $light-gray;
	}
}