<div class="text">
	<ul class="location--list">
        <li>5223 NE Sandy Blvd.</li>
        <li>Portland, Oregon 97213</li>
        <li>Always open</li>
        <li>Phone:	+1 503-281-4776</li>
        <li>Email:	hollywoodfitness.net@gmail.com</li>
	</ul>
</div>