<footer>
  <div class="skill-info large-pad-top">
    <div class="row small-up-2">
      <div class="column flex-container small-up-1">
        <div class="column flex-container contact-footer small-up-2">
          <div class="flex-child-auto">
            <h4 class="text-center">Zachary Morgan</h4>
          </div>
          <div class="flex-child-auto">
            <h4 class="text-center">971-227-1864</h4>
          </div>
        </div>
        <div class="column">
          <div class="contact-box">
            <form name="contact2" id="contact2" class="contact2">
              <input type="text" id="name2" name="name2" placeholder="NAME" required>
              <input type="email" id="email2" name="email2" placeholder="EMAIL" required>
              <textarea name="message2" id="message2" cols="30" rows="5" wrap="hard" placeholder="MESSAGE" required></textarea>
              <button type="button" id="submit" class="button">Contact Me</button>
            </form>
          </div>
        </div>
      </div>
      <div class="column flex-container small-up-3 medium-up-4 large-up-6 tech">
        <div class="column"><img src="assets/img/tech/html.svg" alt="HTML5"></div>
        <div class="column"><img src="assets/img/tech/css3.svg" alt="CSS3"></div>
        <div class="column"><img src="assets/img/tech/js.svg" alt="JavaScript"></div>
        <div class="column"><img src="assets/img/tech/jquery.svg" alt="JQuery"></div>
        <div class="column"><img src="assets/img/tech/json.svg" alt="Json"></div>
        <div class="column"><img src="assets/img/tech/sql.svg" alt="MySQL"></div>
        <div class="column"><img src="assets/img/tech/sass.svg" alt="Sass"></div>
        <div class="column"><img src="assets/img/tech/zurb.svg" alt="Foundation 6"></div>
        <div class="column"><img src="assets/img/tech/emmet.svg" alt="Emmet"></div>
        <div class="column"><img src="assets/img/tech/php.svg" alt="PHP"></div>
        <div class="column"><img src="assets/img/tech/wp.svg" alt="WordPress"></div>
        <div class="column"><img src="assets/img/tech/drupal.svg" alt="Drupal"></div>
      </div>
    </div>
  </div>
  <div class="row medium-pad-top copyright">
    <div class="large-6 small-6 columns text-center">
      <h6 class="copyright-text">Copyright&copy; 2017 Z Morgan Design / Zach Morgan</h6>
    </div>
    <div class="large-6 small-6 columns">
      <ul class="large-up-4 medium-up-4 small-up-2 socialBot">
        <li class="column">
          <a href="https://github.com/zachmorgan" target="_blank" class="flaticon-github17"></a>
        </li>
        <li class="column">
          <a href="https://twitter.com/Zaldiain" target="_blank" class="flaticon-logo95"></a>
        </li>
        <li class="column">
          <a href="https://plus.google.com/u/0/+ZacharyMorgan_zmdesign" target="_blank" class="flaticon-google118"></a>
        </li>
        <li class="column">
          <a href="https://linkedin.com/in/morganzachary
" target="_blank" class="flaticon-linkedin11"></a>
        </li>
      </ul>
    </div>
  </div>
</footer>