/* line 1, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 13, ../sass/style.scss */
body {
  background: #a0a0a0;
  font-family: "Georgia", serif;
}

/* line 18, ../sass/style.scss */
.wrapper {
  background: #fff;
  width: 60%;
  margin: 20px auto;
  border: 1px solid #d1d1d1;
  border-radius: 20px 20px;
  -webkit-box-shadow: 1px 1px 20px 4px #b2b2b2;
  -moz-box-shadow: 1px 1px 20px 4px #b2b2b2;
  box-shadow: 1px 1px 20px 4px #b2b2b2;
  padding: 3%;
}

/* line 30, ../sass/style.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 36, ../sass/style.scss */
.navigation-item {
  display: inline-block;
  list-style: none;
  border: 1px solid #484848;
  background-color: #484848;
  padding: 6px 9px;
}
/* line 43, ../sass/style.scss */
.navigation-item:first-child {
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}
/* line 48, ../sass/style.scss */
.navigation-item:last-child {
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}
/* line 53, ../sass/style.scss */
.navigation-item:hover {
  border-color: #1b90dd;
  background-color: #1a8ad4;
}
/* line 58, ../sass/style.scss */
.navigation-item a {
  font-family: "Verdana", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
}

/* line 66, ../sass/style.scss */
.main-content {
  float: left;
  width: 75%;
  padding-top: 40px;
}
/* line 71, ../sass/style.scss */
.main-content article {
  margin-bottom: 40px;
}
/* line 75, ../sass/style.scss */
.main-content p {
  margin-top: 15px;
  font-size: 1em;
  line-height: 1.2em;
}

/* line 82, ../sass/style.scss */
.title {
  font-family: "Verdana", sans-serif;
}

/* line 86, ../sass/style.scss */
.title-link {
  text-decoration: none;
}

/* line 90, ../sass/style.scss */
.title-page {
  font-family: "Lobster", cursive;
  font-size: 4.5em;
  color: #d1d1d1;
  margin-bottom: 35px;
}

/* line 97, ../sass/style.scss */
.title-heading {
  font-size: 1.75em;
  color: #1b90dd;
  margin-bottom: 3px;
}

/* line 103, ../sass/style.scss */
.title-subheading {
  font-size: 1.3em;
  color: #1b90dd;
  margin-bottom: 3px;
}

/* line 109, ../sass/style.scss */
.title-side {
  margin-bottom: 5px;
}

/* line 113, ../sass/style.scss */
.post-info {
  font-size: 0.3em;
  color: #d1d1d1;
}

/* line 118, ../sass/style.scss */
.main-quote {
  float: right;
  width: 190px;
  padding: 20px 35px 20px 25px;
  margin: 25px 0 15px 10px;
  background-color: #d1d1d1;
  color: #a0a0a0;
  font-size: 1.1em;
}

/* line 128, ../sass/style.scss */
.topic-pic {
  float: right;
  background-color: #d1d1d1;
  padding: 25px 15px;
  margin: 47px 0 10px 50px;
}

/* line 135, ../sass/style.scss */
.sidebar {
  width: 25%;
  margin-top: 60px;
  padding-left: 60px;
  float: left;
  font-size: 0.9em;
}
/* line 142, ../sass/style.scss */
.sidebar .sidebar-item {
  line-height: 1.3em;
}
/* line 145, ../sass/style.scss */
.sidebar .sidebar-item a {
  text-decoration: none;
  color: #1b90dd;
}

/* line 152, ../sass/style.scss */
footer {
  float: left;
  font-size: 0.8em;
}
